.Menu {
  background-color: var(--black);
  height: var(--height-menu);
}
.menu-item {
  color: white;
  height: 100%;

  .menu-lists {
    display: flex;
    height: 100%;
    line-height: 50px;
    .list-tem {
      font-size: 1rem;
      font-weight: 400;
      position: relative;
      border-left: 1px solid #121212;

      &:last-child {
        border-right: 1px solid #121212;
      }

      a,
      span {
        padding: 1.05rem 2.5rem;
      }

      &:hover .child-menu {
        display: block;
        position: absolute;
        left: 20%;
        width: 175px;
        transition: all 0.5s ease-out;
      }

      .child-menu {
        display: none;
        background-color: #222;
        height: auto;

        .child-menu-list {
          display: block;

          .child-list {
            display: block;
            text-align: left;
            font-size: 0.95rem;
            font-weight: 400;
            line-height: 42px;

            &:hover a {
              box-shadow: inset 0 0 2px 0 #000;
              background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.3) 0%,
                rgba(0, 0, 0, 0) 70%
              );
              color: white;
            }

            a {
              display: block;
              padding: 0px 15px;
              color: #ddd;
            }
          }
        }
      }
    }
  }
  .icon-left {
    width: 8px;
    height: 20px;
    margin-left: 7px;
  }

  .icon-right {
    width: 8px;
    height: 20px;
    margin-left: 7px;
  }
}
.Menu-mobile {
  display: none;
}
// responsive
$responsive-1024: 1120px;
$responsive-825: 825px;
.Menu {
  @media only screen and (max-width: $responsive-1024) {
    .menu-lists {
      .list-tem {
        font-size: 0.9rem;
        font-weight: 400;

        &:last-child {
          border-right: 1px solid #121212;
        }

        a,
        span {
          padding: 0 1.5rem;
        }
      }
    }
  }
}
.wrap {

  @media only screen and (max-width: $responsive-825){
    .Menu {
      display: none;

    }
    .Menu-mobile {
    display: block;
    background-color: #222;
    }
    .child-menu-mobile {
      display: none;
    }
    .active-item-list {
      display: block;
    }
  }
}